:root {
  --mobile-size: 37.5rem;
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent-color: #aa5cdb;
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsl(0, 0%, 100%, 0.75);
  --stat-headings: hsl(0, 0%, 100%, 0.6);
  --img-fg: #aa5cdb3f;
  --gap: 3rem;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--main-background);
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  height: 50vh;
  border-radius: 1.8rem;
  width: 80%;
  margin: auto;
  background-color: var(--card-background);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 8rem;
  margin-right: 9rem;
}

.main-content h1{
  color: var(--main-heading);
}

.main-content p {
  color: var(--main-paragraph);
}


.flex {
  display: flex;
  justify-content: space-around;
}

.flex-iten h2 {
  color: var(--main-heading);
}

span {
  color: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}